@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  max-width: 800px;
  overflow-y: scroll;
}

main {
  min-height: 100%;
}

a {
  text-decoration: none;
}

code,
pre {
  font-family: "Fira Code", monospace;
}

pre {
  font-family: "Inconsolata", monospace;
  font-size: 0.85rem;
  line-height: 1.5;
  color: #f8f8f2;
  background-color: #1c1e20 !important;
  padding: 15px 20px;
  border-radius: 8px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
  border: 1px solid #514848;
  margin: 1em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", serif;
}

.profile-info {
  width: 65vw;
  max-width: 850px;
  min-width: 650px;
}

.menu-item:hover {
  background-color: #1c1e20;
}

.pagination {
  display: flex;
  justify-content: center !important;
}

.page-item.disabled .page-link {
  color: #fff !important;
  background-color: #5c58589c;
}

#TableOfContents > ul {
  margin-left: 10px;
  padding-left: 5px;
}

.TableOfContents {
  float: right;
}

@media only screen and (max-width: 750px) {
  .profile-info {
    width: 100%;
    margin: 30px 0;
    flex-wrap: wrap;
    max-width: none;
    min-width: 0;
  }

  .TableOfContents {
    float: initial;
  }
}

.bg-taxa {
  background-color: #122b1f;
}

.pagefind-ui__search-clear {
  display: none;
}

.pagefind-ui__search-input {
  color: white;
  background-color: #322d2d;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid gray;
}

.pagefind-ui__search-input::placeholder {
  color: #8f8f8f;
}
