/*==============================
  Global Styles
==============================*/
body {
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  max-width: 800px;
  overflow-y: scroll;
}

main {
  min-height: 100%;
}

a {
  text-decoration: none;
}

code,
pre {
  font-family: "Inconsolata", monospace;
}

/* pre {
  max-width: 100%;
  clear: both;
  padding: 5px 15px;
  border: 1px;
} */

pre {
  font-family: "Inconsolata", monospace;
  font-size: 0.95rem;
  line-height: 1.5;
  color: #f8f8f2;
  background-color: #1c1e20 !important;
  padding: 15px 20px;
  border-radius: 8px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
  border: 1px solid #514848;
  margin: 1em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*==============================
  Typography
==============================*/
h1,
h2,
h3,
h4,
h5 {
  font-family: "Arvo", serif;
}

/*==============================
  Layout and Containers
==============================*/
.grid-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, calc((100% - 100px) / 3));
}

.index-box {
  min-width: 300px;
  min-height: 200px;
}

.profile-info {
  width: 65vw;
  max-width: 850px;
  min-width: 650px;
}

/*==============================
  Menu and Navigation
==============================*/
.menu-item:hover {
  background-color: #1c1e20;
}

.pagination {
  display: flex;
  justify-content: center !important;
}

.page-item.disabled .page-link {
  color: #fff !important;
  background-color: #5c58589c;
}

.newer:hover,
.older:hover,
.to-top:hover {
  cursor: pointer;
}

/*==============================
  Table of Contents
==============================*/
#TableOfContents > ul {
  margin-left: 10px;
  padding-left: 5px;
  font-variant: small-caps;
}

.TableOfContents {
  float: right;
}

/*==============================
  Section-specific Styles
==============================*/
#alltaxa {
  min-height: calc(100vh - 110px);
}

/*==============================
  Responsive Styles
==============================*/
@media only screen and (max-width: 1050px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, calc((100% - 50px) / 2));
  }
}

@media only screen and (max-width: 750px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .main-menu {
    margin: 5px 0;
  }

  .profile-info {
    width: 100%;
    margin: 30px 0;
    flex-wrap: wrap;
    max-width: none;
    min-width: 0;
  }

  .hamburger-icon-container {
    display: flex;
    justify-content: space-between;
  }

  .TableOfContents {
    float: initial;
  }
}
.bg-taxa {
  background-color: #122b1f;
}

.pagefind-ui__search-clear {
  display: none;
}
.pagefind-ui__search-input {
  color: white;
  background-color: #322d2d;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid gray;
}
.pagefind-ui__search-input::placeholder {
  color: #8f8f8f;
}
