.standard {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 20px);
  overflow-y: scroll;
  color: black;
}
.wrapper {
  flex: 1;
}
code,
pre {
  font-family: "Roboto Mono", monospace;
  background-color: #fff2ac;
  color: black;
}
pre {
  display: inline-block;
  max-width: 100%;
  clear: both;
  padding: 5px 15px 5px 15px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
}
a,
.more {
  color: rgba(34, 8, 167, 0.94) !important;
}
.header {
  background-color: #2f16ac;
}
#main-nav {
  display: flex;
  flex-direction: column;
  min-height: 60px;
  padding: 15px 0 15px 0px;
}
.all-menu {
  display: flex;
}
.hamburger-icon-container {
  display: none;
}
.hamburger {
  font-size: 1.5em;
  color: white !important;
  cursor: pointer;
}
.main-menu {
  font-variant: small-caps;
  font-family: "Open Sans", sans-serif;
  color: white !important;
  margin-right: 25px;
  margin-top: initial;
  margin-bottom: initial;
  font-size: 1.1em;
}
.main-menu > a {
  color: white !important;
}
.main-menu a:hover {
  text-decoration: none;
}
.social-icons {
  display: flex;
  flex-direction: row;
  padding: 15px 0 15px 0px;
}
.about-container {
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.profile-info {
  width: 65vw;
  max-width: 850px;
  min-width: 650px;
}
.dropbtn {
  color: white !important;
}
.dropbtn,
.more {
  cursor: pointer;
}
.dropdown {
  position: relative !important;
}
.dropdown-content {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.25s;
}
.dropdown-content > div {
  border: 1px solid #2f16ac !important;
}
.grid-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, calc((100% - 100px) / 3));
}
.index-box {
  min-width: 300px;
  min-height: 200px;
}
#TableOfContents > ul {
  margin-left: 10px;
  padding-left: 5px;
  font-variant: small-caps;
}
.TableOfContents {
  float: right;
  background-color: #dbdbdb;
}
.metadata-value {
  font-size: 0.8em;
}
.icon {
  font-size: 1.7em;
}
.icon:hover {
  font-size: 1.65em;
}
.top-h1 {
  font-size: 3em !important;
}
.newer:hover,
.older:hover,
.to-top:hover {
  cursor: pointer;
  color: #2f16acde;
}
.bg-secondary2 {
  background-color: #2f16ac;
}
.border-primary2 {
  border-color: #2f16ac !important;
}
.pagination {
  display: flex;
  justify-content: center !important;
}
.page-link {
  color: #2f16ac;
  border: 1px solid #2f16ac !important;
}
.page-item.active .page-link {
  color: #fff !important;
  background-color: #2f16ac;
}
.page-item.disabled .page-link {
  color: #fff !important;
  background-color: #5c58589c;
}
#alltaxa {
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 30px;
  min-height: calc(100vh - 110px);
}
.external-link-icon {
  font-size: 0.8em;
}
.date-short {
  font-size: 0.75em;
  min-width: 60px;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  margin-top: 2.5px;
}

@media only screen and (max-width: 1050px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, calc((100% - 50px) / 2));
  }
}
@media only screen and (max-width: 750px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, 100%);
  }
  .main-menu {
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .profile-info {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    max-width: auto;
    min-width: auto;
  }
  .about-container {
    min-height: auto;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .hamburger-icon-container {
    display: flex;
    justify-content: space-between;
  }
  .TableOfContents {
    float: initial;
  }
}