{{ define "main" }}
<h1 class="my-4">
  {{- .Title -}}
</h1>
<div>
  {{ range (.Paginator 5).Pages }}
  <div class="p-3 border rounded mt-2 mb-4">
    <a href="{{ .Permalink | relURL }}">
      <h4>{{- .Title -}}</h4>
    </a>
    {{ if .Params.Description }}
    <div><em>{{ .Params.Description }}</em></div>
    {{ end }}
    <div class="mt-2">
      {{ partial "metadata/metadata-date" . }}
      {{ partial "metadata/metadata-readingtime" . }}
      {{ if ne $.Kind "section" }}
      {{ partial "metadata/metadata-section" . }}
      {{ end }}
      {{ partial "metadata/metadata-taxonomy" . }}
    </div>
  </div>
  {{ end }}
</div>
<div class="pagination my-2">
  {{ template "_internal/pagination.html" (dict "page" . "format" "terse") }}
</div>
{{ end }}
