{{ define "main" }}
<div class="my-4">
  <article>
    <h1 class="top-h1">
      {{- .Title -}}
    </h1>
    <div class="ms-3 metadata">
      {{ partial "metadata/metadata-date" . }}
      {{ partial "metadata/metadata-readingtime" . }}
      {{ if ne $.Kind "section" }}
      {{ partial "metadata/metadata-section" . }}
      {{ end }}
      {{ partial "metadata/metadata-taxonomy" . }}
      {{ partial "metadata/metadata-description" . }}
    </div>
    <hr />
    
    {{ if (gt (len (split .Content `</h`)) 2) }}
    <div class="TableOfContents border rounded p-2 ms-2 mb-2">
      {{ partial "toc.html" . }}
    </div>
    {{ end }}
    {{ .Content }}
  </article>
</div>
{{ end }}
