<div class="flex-grow-1 d-flex justify-content-center align-items-center">
  <div class="profile-info d-flex flex-column flex-md-row" style="max-width: 600px;">
    <div class="profile-photo d-flex align-items-end">
      <img
        class="rounded me-4"
        src="{{ .Site.Params.author.profilephoto | relURL }}"
        style="width: 200px"
      />
    </div>

    <div class="d-flex flex-column">
      <div class="mb-4">
        <h1 class="my-1">{{- .Site.Params.author.name | markdownify -}}</h1>
        <h2 class="my-1">{{- .Site.Params.author.title | markdownify -}}</h2>
        <h3 class="my-1">{{- .Site.Params.author.subtitle | markdownify -}}</h3>
        <div class="d-flex flex-row flex-wrap social my-4">
          {{ partial "social" . }}
        </div>
      </div>
      <div>{{ .Site.Params.author.about | markdownify }}</div>
      <div class="mt-4 d-flex flex-column flex-md-row flex-wrap">
        <span class="menu-item my-0 me-3">
          <a href="{{ `recent` | relURL }}">Recent Posts</a>
        </span>
        {{ range sort (where .Site.Sections "Params.hidefrommenu" "!=" true)
        "Title" }} {{ $thisSection := replace .File.Dir "\\" "" }}
        <span class="menu-item me-3">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </span>
        {{ end }}
      </div>
    </div>
  </div>
</div>
