<div class="flex-grow-1 d-flex justify-content-center align-items-center">
  <div class="profile-info d-flex flex-row">
    <div class="profile-photo" style="display: flex; align-items: flex-end">
      <img
        src="{{ .Site.Params.author.profilephoto | relURL }}"
        style="width: 200px; margin-right: 20px; border-radius: 10%"
      />
    </div>

    <div class="d-flex flex-column">
      <div>
        <h1>{{- .Site.Params.author.name | markdownify -}}</h1>
        <h2>{{- .Site.Params.author.title | markdownify -}}</h2>
        <h3>{{- .Site.Params.author.subtitle | markdownify -}}</h3>
        {{ partial "social" . }}
      </div>
      <div>{{ .Site.Params.author.about | markdownify }}</div>
      <div class="mt-4 d-flex flex-column flex-sm-row flex-wrap">
        <span class="menu-item my-0 me-3">
          <a href="{{ `recent` | relURL }}">Recent Posts</a>
        </span>
        {{ range sort (where .Site.Sections "Params.hidefrommenu" "!=" true)
        "Title" }} {{ $thisSection := replace .File.Dir "\\" "" }}
        <span class="menu-item me-3">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </span>
        {{ end }}
      </div>
    </div>
  </div>
</div>
