<div class="header">
  <nav id="main-nav">
    <div class="hamburger-icon-container">
      <span class="text-white border-bottom text-uppercase ml-2">{{ .Site.Title }}</span>
      <i class="hamburger fas fa-bars mr-4" onclick="toggleMainMenu(this)"></i>
    </div>
    <div class="all-menu expanded standard">
      {{ partial "menu/menu_home" . }}
      {{ partial "menu/menu_sections" . }}
      {{ partial "menu/menu_alltaxa" . }}
      {{ partial "menu/menu_archives" . }}
    </div>
  </nav>
</div>
<script>
  let toggleDisplay = function(elem) {
    elem.classList.toggle("d-none");
  };
  let toggleMainMenu = function(x) {
    toggleDisplay(x.parentNode.nextElementSibling);
    document.querySelector(".hamburger").classList.toggle("fa-bars");
    document.querySelector(".hamburger").classList.toggle("fa-times");
    if (document.querySelector(".dropdown-content")) {
      resetSectionMenu();
      zeroHeight(document.querySelector(".dropdown-content"));
    }
  };
  let resetMainMenu = function() {
    document.querySelector(".hamburger").classList.add("fa-bars");
    document.querySelector(".hamburger").classList.remove("fa-times");
  };
  function smMenu(x) {
    let allMenu = document.querySelector(".all-menu");
    let dropDown = document.querySelector(".dropdown-content");
    if (x.matches) {
      allMenu.classList.add("d-none");
      allMenu.style.flexDirection = "column";
      if (dropDown) {
        resetSectionMenu();
        dropDown.style.width = "calc(90vw - 4.5px)";
        dropDown.style.maxHeight = "0px";
        dropDown.style.position = "static";
      }
      resetMainMenu();
    } else {      
      allMenu.classList.remove("d-none");
      allMenu.style.flexDirection = "row";
      if (dropDown) {
        dropDown.style.width = "auto";
        resetSectionMenu();
        dropDown.style.maxHeight = "0px";
        dropDown.style.position = "absolute";
      }
      resetMainMenu();
    }
  }
  let vw = window.matchMedia("(max-width: 750px)");
  smMenu(vw); // Call listener function at run time
  vw.addListener(smMenu); // Attach listener function on state changes
</script>
