<div
  class="flex-grow-1 d-flex flex-column d-flex justify-content-start align-items-center"
>
  <div class="w-100">
    <p class="menu-item fs-4 text-danger my-0 p-1">
      <span role="button" onclick="history.back()"><i class="bi bi-arrow-left"></i> Back</span>
    </p>
    <p class="menu-item my-0 p-1 fs-4">
      <a href="{{ `recent` | relURL }}"><i class="bi bi-bell"></i> Recent Posts</a>
    </p>
    {{ if eq (len (where .Site.Sections "Params.hidefrommenu" "!=" true)) 1 }}
    {{ with (index (where .Site.Sections "Params.hidefrommenu" "!=" true) 0) }}
    <p class="menu-item my-0 p-1 fs-4">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </p>
    {{ end }}
    {{ else }}
    <p class="menu-item my-0 p-1 fs-4"><i class="bi bi-tags"></i> Sections</p>
    <div class="rounded my-0 ps-4">
      {{ range sort (where .Site.Sections "Params.hidefrommenu" "!=" true) "Title" }}
      {{ $thisSection := replace .File.Dir "\\" "" }}
      <p class="menu-item my-0 p-1 fs-5">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </p>
      {{ end }}
    </div>

    <p class="menu-item my-0 p-1 fs-4">
      <a href="{{ `taxa` | relURL }}"><i class="bi bi-tags"></i> Taxa</a>
    </p>
    <p class="menu-item my-0 p-1 fs-4">
      <a href="{{ `archive` | relURL }}"><i class="bi bi-archive"></i> Archive</a>
    </p>
  </div>
  {{ end }}
</div>
